@charset "UTF-8";


img{
  vertical-align: bottom;
}
main{
  padding-top: 70px;
}
body{
  font-family: "Lato",sans-serif;
}
a{
  text-decoration: none;
}

.ff_raleway{
  font-family: "Raleway";
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.content_wrapper{
  width: 100%;
}
.content_inner{
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.header_title{
  position: fixed;
  background-color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  z-index: 99;
}
.header_inner{
  width: 1100px;
  margin: 0 auto;
}
.header_content{
  color: #4E4E4E;
  float: left;
}
.header_contact{
  display: inline-block;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74CFAE;
  color: #FFF;
  float: right;
  text-decoration: none;
}
.none{
  display: none;
}
.header_contact:hover{
  cursor: pointer;
}


.section_title{
  width: 100%;
  background-color: #F2F2F2;
  padding-bottom: 250px;
  padding-top: 320px;
}
.section_title_main{
  font-size: 90px;
  font-weight: 700px;
  color: #74CFAE;
}
.section_title_sub{
  font-size: 30px;
  color: #C0C0C0;
  margin-top: 20px;
}

.sp_wrapper{
  background-color: #74CFAE;
  padding-top: 50px;
}
.sp_inner{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.sp_text{
  width: 650px;
  text-align: center;
  line-height: 25px;
}
.sp_text_title{
  font-size: 24px;
  color: #FFF;
}
.sp_text_inner{
  font-size: 20px;
  margin-top: 35px;
  word-wrap: break-word;
  color: #FFF;
}

.icon_wrapper{
  background-color: #F2F2F2;
  color: #333;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}
.icon_title{
  font-size:24px;
  margin-bottom: 40px;
}
.icon_items{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
}
.icon_items_inner{
  margin-left: 100px;
  margin-top: 80px;
  opacity: .7;
  transition: all .3s;
}
a:hover{
  opacity: 1;
}
.icon_items_inner:nth-child(3n+1){
  margin-left: 0;
}
.icon_items_inner:nth-child(-n+3){
  margin-top: 0;
}
.icon_text{
  width: 1100px;
}
.icon_text_inner{
  display: inline-block;
  color: #333;
  width: 500px;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 23px;
}
.icon_btn{
  display: inline-block;
  background-color: #74CFAE;
  font-size: 12px;
  padding: 14px 20px;
  color: #FFF;
  vertical-align: top;
  margin-left: 90px;
  overflow: hidden;
  transition: all .3s;
}
.icon_btn:hover{
  color: #333;
}

.skills{
  background-color: #4E4E4E;
  padding-top: 70px;
  padding-bottom: 100px;
}
.skills_title{
  color: #FFF;
  text-align: center;
  padding-bottom: 40px;
  font-size: 24px;
}
.skills_content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills_content_inner{
  float: left;
  margin-left: 180px;
}
.skills_content_inner:first-child{
  margin-left: 0;
}
.skills_text{
  color: #FFF;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.link{
  background-color: #F2F2F2;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.fa-icon{
  color: #74cfae;
  width: 185px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s;
}
.fa-icon:hover{
  background-color: #FFF;
}
.fa_tag{
  display: inline-block;
}

.footer_content{
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
  color: #FFF;
}
.footer_text{
  text-align: right;
}


@media screen and ( max-width:766px ){
.none_sp{
  display: none;}
.none{
  display: block;}
#nav-drawer{
  float: right;
}
#nav-drawer:hover{
  cursor: pointer;
}
#nav-open{
  display:none;
}
.nav-unshown {
  display:none;
}
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
#nav-close{
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 330px;
  height: 100%;
  background: #74CFAE;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  font-size: 12px;
  padding: 14px 12px;
  color: #FFF;
}
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}



.section_title{
  padding-top: 160px;
  padding-bottom: 130px;
}
.section_title_main{
  font-size: 80px;
}
.sp_text{
  width: 100%;
}
.link{
  padding-top: 50px;
  padding-bottom: 50px;
}
.fa-icon{
  width: 90%;
  margin: 0 15px 0 15px;
}
.fa_tag{
  display: block;
}
}

@media screen and (max-width:1199px){
.nav-unshown {
  display:none;
}
.content_inner{
  width: 97%;
}
.header_inner{
  width: 97%;
}
.sp_wrapper{
  padding-bottom: 25px;
}
.sp_inner{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sp_icon{
  margin-bottom: 20px;
}
.icon_items{
  flex-direction: column;
  flex-wrap: none;
}
.icon_items_inner{
  margin: 0 auto;
}
.icon_items_inner:nth-child(3n+1){
  margin-left: auto;
  margin-top: 80px;
}
.icon_items_inner:nth-child(-n+3){
  margin-top: auto;
}
.icon_text_inner{
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.icon_btn{
  margin: 0 auto;
}
.skills_content{
  flex-direction: column;
}
.skills_content_inner{
  margin-left: 0;
  margin-top: 88px;
}
.skills_content_inner:first-child{
  margin-top: 0;
}
}
@media screen and (min-width:1200px){
  /*600px以上で適用する内容*/
}